<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Figuritas</title>
</head>
<body>
    <h2>Te tocaron...</h2>
    @foreach (Figurita figu in ViewBag.tocaron)
    {
        <img src="@figu.Imagen" alt="Figurita" />
    }
    <br>
    <a class="boton" href='@Url.Action("Index", "Home")'>Ver album </a>
</body>
</html>