USE [master]
GO
/****** Object:  Database [Album de Figuritas]    Script Date: 2/7/2026 10:42:28 ******/
CREATE DATABASE [Album de Figuritas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Album de Figuritas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Album de Figuritas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Album de Figuritas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Album de Figuritas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Album de Figuritas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Album de Figuritas]
GO
/****** Object:  User [alumno]    Script Date: 2/7/2026 10:42:28 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[FiguritaUsuario]    Script Date: 2/7/2026 10:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiguritaUsuario](
	[ID] [int] NOT NULL,
	[JUGADOR_ID] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[IMAGEN] [varchar](50) NULL,
 CONSTRAINT [PK_FiguritaUsuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JUGADOR]    Script Date: 2/7/2026 10:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JUGADOR](
	[ID] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[PAIS] [varchar](50) NOT NULL,
	[POSICION] [varchar](50) NOT NULL,
	[NUMERO_CAMISETA] [int] NOT NULL,
	[SELECCION_ID] [int] NOT NULL,
 CONSTRAINT [PK_JUGADOR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SELECCION]    Script Date: 2/7/2026 10:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SELECCION](
	[ID] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[GRUPO] [char](1) NOT NULL,
	[PAIS] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SELECCION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[FiguritaUsuario] ([ID], [JUGADOR_ID], [CANTIDAD], [IMAGEN]) VALUES (1, 1, 0, N'wwwroot/images/jugadores/messi.svg')
INSERT [dbo].[FiguritaUsuario] ([ID], [JUGADOR_ID], [CANTIDAD], [IMAGEN]) VALUES (2, 2, 0, N'wwwroot/images/jugadores/alvarez.svg')
INSERT [dbo].[FiguritaUsuario] ([ID], [JUGADOR_ID], [CANTIDAD], [IMAGEN]) VALUES (3, 3, 0, N'wwwroot/images/jugadores/emiliano.svg')
GO
INSERT [dbo].[JUGADOR] ([ID], [NOMBRE], [PAIS], [POSICION], [NUMERO_CAMISETA], [SELECCION_ID]) VALUES (1, N'MESSI', N'Argentina', N'Delantero', 10, 1)
INSERT [dbo].[JUGADOR] ([ID], [NOMBRE], [PAIS], [POSICION], [NUMERO_CAMISETA], [SELECCION_ID]) VALUES (2, N'ÁLVAREZ', N'Argentina', N'Delantero', 9, 1)
INSERT [dbo].[JUGADOR] ([ID], [NOMBRE], [PAIS], [POSICION], [NUMERO_CAMISETA], [SELECCION_ID]) VALUES (3, N'E. MARTÍNEZ', N'Argentina', N'Arquero', 23, 1)
GO
INSERT [dbo].[SELECCION] ([ID], [NOMBRE], [GRUPO], [PAIS]) VALUES (1, N'ARGENTINA', N'A', N'Argentina')
INSERT [dbo].[SELECCION] ([ID], [NOMBRE], [GRUPO], [PAIS]) VALUES (2, N'BRASIL', N'B', N'Brasil')
INSERT [dbo].[SELECCION] ([ID], [NOMBRE], [GRUPO], [PAIS]) VALUES (3, N'ESPAÑA', N'C', N'España')
GO
ALTER TABLE [dbo].[FiguritaUsuario]  WITH CHECK ADD  CONSTRAINT [FK_FiguritaUsuario_JUGADOR] FOREIGN KEY([JUGADOR_ID])
REFERENCES [dbo].[JUGADOR] ([ID])
GO
ALTER TABLE [dbo].[FiguritaUsuario] CHECK CONSTRAINT [FK_FiguritaUsuario_JUGADOR]
GO
ALTER TABLE [dbo].[JUGADOR]  WITH CHECK ADD  CONSTRAINT [FK_JUGADOR_SELECCION] FOREIGN KEY([SELECCION_ID])
REFERENCES [dbo].[SELECCION] ([ID])
GO
ALTER TABLE [dbo].[JUGADOR] CHECK CONSTRAINT [FK_JUGADOR_SELECCION]
GO
USE [master]
GO
